*.pyc
__pycache__/
venv/
.env
*.egg-info/

# Model weights (terlalu besar untuk git)
backend/models/**/*.pth
backend/models/**/*.pt
backend/models/**/*.onnx
!backend/models/.gitkeep

# Node modules
frontend/node_modules/
frontend/.next/
frontend/out/

# OS files
.DS_Store
Thumbs.db

# Hugging Face Cache
backend/models/hf_cache/
